<form method="post" action="{{ path('adherant_delete', {'ida': adherant.ida}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adherant.ida) }}">
    <button class="btn">Delete</button>
</form>
