{% extends 'base2.html.twig' %}

{% block title %}Nouveau Terrain{% endblock %}
{% block head %}
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                {% endblock %}
{% block showterrain %}


         {{ include('terrain/_form.html.twig') }}<br>


    <a href="{{ path('terrain_index') }}" class="btn btn-primary">Retour</a>
            </div>
        </div>
    </section>
</section>
{% endblock %}

