<form method="post" action="{{ path('reservation_delete', {'idres': reservation.idres}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette reservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.idres) }}"><br>
    <button  class=" btn btn-danger">Supprimer</button>
</form>
