
{% extends 'base2.html.twig' %}

{% block body %}
    <a href="{{ path('reservation_index') }}" class="btn btn-close">Retour</a>

    <div id="calendar-holder"></div>
    dump{{ (data) }}
{% endblock %}


