{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block head %}
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                {% endblock %}
                {% block showterrain %}
    <h1>Edit Reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reservation_index') }}">back to list</a>

    {{ include('reservation/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
</section>
{% endblock %}
