{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <div class="container-fluid">
    <div class="col-lg-12">
        <div class="customwidget text-center">
            <h1>Votre réservation est ajoutée avec succée</h1>
            <p class="lead">Merci d'avoir visiter notre site Web, vous receverer un email de validation prochainement. </p>
        </div>
    </div>
    </div>
</div>
{% endblock %}
