{% extends 'base.html.twig' %}

{% block title %}New Promotion{% endblock %}

{% block head %}
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                {% endblock %}
                {% block showterrain %}
    <h1>Create new Promotion</h1>

    {{ include('promotion/_form.html.twig') }}

    <a href="{{ path('promotion_index') }}">back to list</a>
            </div></div></section></section>
{% endblock %}
