{% extends 'base.html.twig' %}

{% block title %}Promotion index{% endblock %}

        {% block body %}
        <h1>Promotion index</h1>

        <div>
            <!--  search form start -->


            <form class="navbar-form">
                <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">

            </form>

        </div>

        <table id="t" class="table">
            <thead>
            <tr>

                <th>Pourcentage</th>
                <th>DateDebut</th>
                <th>DateFin</th>

            </tr>
            </thead>
            <tbody id="hi" >
            {% for promotion in promo %}

                <tr>

                    <td>{{ promotion.pourcentage }}</td>
                    <td>{{ promotion.dateDebut ? promotion.dateDebut|date('Y-m-d') : '' }}</td>
                    <td>{{ promotion.dateFin ? promotion.dateFin|date('Y-m-d') : '' }}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody id="hi"></tbody>
        </table>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#hi tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </section></section>


{% endblock  %}
