<form method="post" action="{{ path('club_delete', {'idClub': club.idClub}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ club.idClub) }}">
    <button class=" btn btn-danger">Delete</button>
</form>
