{% extends 'base.html.twig' %}

{% block title %}New Club{% endblock %}

{% block head %}
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                {% endblock %}
                {% block showterrain %}
    <h1>Create new Club</h1>

    {{ include('club/_form.html.twig') }}

    <a href="{{ path('club_index') }}" class="btn-outline-primary">Back to list</a>
            </div></div></section></section>
{% endblock %}
