<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle Article</title>
</head>
<body>
<h1>Nouveau Article</h1>
<p>Une nouvelle Article a été créé</p>
<p>Nom de l'abonnee : {{article.libelle}}</p>
<p>Description : {{article.prix}}</p>
</body>
</html>